body, html {
  height: 100%;
  font-family: 'Georgia', serif;
}
*{
  padding: 0;
  margin: 0;
}


nav {
  background-color: #101010;
  padding: 5px;
  overflow: hidden;
}


.logo-right {
  float: right;
}

.logo-left {
  float: left;
}

.logo {
  position: relative;
}

.logo img {
  width: 40px;
  margin-right: 20px;
}

nav h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
}

nav a {
  float: right;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #8B0000;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li {
  padding: 15px 5px;
  font-size: 16px;
}




header {
  background: url("image13.jpg") no-repeat center center/cover;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 20px;
  width: 320px;
  border: 3px solid green;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form h2 {
  color: #c3aa3f;
  text-align: center;
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.6rem;
  background-color: white;
  color: red;
  border: 1px solid red;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: red;
  color: white;
}




    /* Footer */
footer {
  background-color: #1e1e1e;
  color: white;
  padding-top: 2rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 2rem;
  gap: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

.footer-logo img {
  width: 80px;
  margin-bottom: 0.5rem;
  border-color:rgb(4, 0, 255);
  margin-left: 4rem;
  border-width: 5px;
  border-radius: 50%;
  border: 3px solid red;
}

.footer-logo p {
  font-size: 0.9rem;
  max-width: 250px;
  font-family:"Sofia", sans-serif;
  text-align: center;
}

.footer-links ul {
  list-style: none;
  padding: 0;

}
.footer-info{
  line-height: 3.7;
}
.sprite-icon{
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url('image09.jpg');
  vertical-align: middle;
  margin-right: 8px;
}

.icon-location{
  background-position: -52px -4px;
}
.icon-phone{
  background-position: -199px -6px;
}
.icon-email{
  background-position: -248px -6px;
}


.footer-links a {
  color: #fff;
  text-decoration: none;
  line-height: 1.8;
}

.footer-info p  {
  font-size: 0.9rem;
  line-height: 250%;
}

.footer-bottom {
  text-align: center;
  background-color: #333;
  padding: 1rem 0;
  font-size: 0.8rem;
}